<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.akrabat.alfred-compress</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3A44A72A-4782-4DDF-9D56-C1ADC13627DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAEDC47F-17B0-4A14-A448-E15ED2F07222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0A94FF9-311C-4085-9B22-2C400D533129</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAEDC47F-17B0-4A14-A448-E15ED2F07222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rob Allen</string>
	<key>description</key>
	<string>Compress a selected file or folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Compress</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Compress</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C0A94FF9-311C-4085-9B22-2C400D533129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$@"

zip -r "$query.zip" "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EAEDC47F-17B0-4A14-A448-E15ED2F07222</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Zip</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3A44A72A-4782-4DDF-9D56-C1ADC13627DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Compress

A universal action that compresses the selected file or folder to create a zip file in the same directory.

To use, select a file or folder in Finder and trigger Alfred's universal actions. Start typing "compress" or "zip" in order to find it and then press enter. A Zip file of the same name as the selection will appear in the Finder window.

![Screenshot of Compress in action](readme-assets/screenshot.png)</string>
	<key>uidata</key>
	<dict>
		<key>3A44A72A-4782-4DDF-9D56-C1ADC13627DB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C0A94FF9-311C-4085-9B22-2C400D533129</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>EAEDC47F-17B0-4A14-A448-E15ED2F07222</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>https://github.com/akrabat/alfred-compress</string>
</dict>
</plist>
